<h2>Ajout d'un nouveau livre</h2>
<form id="addForm" (ngSubmit)="addBook(f)" #f="ngForm">
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="text" class="form-control" id="title" name="title" #title="ngModel" ngModel required />
        @if (title.invalid && (title.dirty || title.touched)) {
        <span class="error">Ce champ est obligatoire</span>}
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Auteur</label>
        <input type="text" class="form-control" id="author" #author name="author" ngModel required />
        @if (title.invalid && (title.dirty || title.touched)) {
        <span class="error">Ce champ est obligatoire</span>}
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Prix</label>
        <input type="number" class="form-control" id="price" #price name="price" ngModel required>
        @if (title.invalid && (title.dirty || title.touched)) {
        <span class="error">Ce champ est obligatoire</span>}
    </div>
    <button type="submit" id="btnValidAdd" class="btn btn-primary" [disabled]="f.invalid">Valider
    </button>
</form>